body     {
    background-image:url("../img/paint.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-position:center;
    text-color:black !important;

}


.up-row {
    margin-top:-23px;
}

.front_header {

    background-color:rgba(68, 57, 39, 0.91);
    width:100%;
    text-align:center;
    position:relative;
    height:300px;
    margin-top:-23px;
    align-items: center;
    text-transform:uppercase;
    color:#b77358;

}

.front_header h1 {

}

.navbar-default {
    background-color:navajowhite;
    font-family:Helvetica;
    text-transform:uppercase;
    color:white;
    font-weight: 500;
}
.navbar-text {
color:white;
}

.navbar-default .navbar-nav>li>a .navbar-default .navbar-text {
    color:white;
}

.front {
    height:200px;
    background-color:rgba(58,32,32,0.8);
    display:flex;
    text-align:center;
    padding-top:10px;
}

.reserve{
    width:33%;
    height:100%;
}

i {
    color:#1b110a;
}

.front h3 {
    color:#1b110a;
}


.food {
    width:33%;
    height:100%;
}
.contact {
    width:33%;
    height:100%;
}

.thumbnail {
    background-color: #fcf8e3;
    border: none;
    text-align:center;
}
.thumbnail h3 {
    text-align:center;
}

.profile_forms {
    align-items: center;
}

.my_button {
    border: none;
    background: #271b1b;
    color: #b9852b;
}


